init:
- git config --global core.autocrlf false

skip_tags: true
skip_commits:
  files:
    - '**/*.md'
    - images/*
matrix:
  fast_finish: true 
image: Visual Studio 2017
environment:
  matrix:
    # First build
    - DotNetRunTime: net451
    # Second build
    - DotNetRunTime: netcoreapp1.0

#---------------------------------#
#       restore nuget packages    #
#---------------------------------#
before_build:
  - cmd: dotnet restore src\ServiceBus.AttachmentPlugin.sln
  - cmd: echo %appveyor_build_version%
##  - ps: gitversion /l console /output buildserver /updateAssemblyInfo
##  - cmd: ECHO %GitVersion_MajorMinorPatch%
  
#---------------------------------#
#       build configuration       #
#---------------------------------#

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: Any CPU

# build Configuration, i.e. Debug, Release, etc.
configuration: Release
 
build:
  parallel: true                     # enable MSBuild parallel builds
  project: src\ServiceBus.AttachmentPlugin.sln # path to Visual Studio project

  # MSBuild verbosity level
  verbosity: normal                  # quiet|minimal|normal|detailed

test:
  assemblies:
    only:
      - '**\*.tests.dll'

after_build:
##  7z a ServiceBus.AttachmentPlugin-%GitVersion_MajorMinorPatch%.zip %APPVEYOR_BUILD_FOLDER%\src\ServiceBus.AttachmentPlugin\bin\Release\*.*

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: '**\*.nupkg'
    name: 'ServiceBusExplorer-%GitVersion_MajorMinorPatch%'

#---------------------------------#
#     GitHub PR notifications     #
#---------------------------------#

notifications:
  - provider: GitHubPullRequest
    auth_token:
      secure: oQQNBFHTaM9998aRO2Y2Gnvz1hSdU44cQACuLaANlAusEEA2QqlWt5hw907b/IIC # encrypted token from GitHub
    template: "{{#passed}}:white_check_mark:{{/passed}}{{#failed}}:x:{{/failed}} [Build {{&projectName}} {{buildVersion}} {{status}}]({{buildUrl}}) (commit {{commitUrl}} by @{{&commitAuthorUsername}})"

#---------------------------------#
#     deployment configuration    #
#---------------------------------#

deploy:
  provider: NuGet
  api_key: 
    secure: 3f1NaZZwxam7Q62aYMzCbOCBxiTnBuZqZpSwAZbOsbLWsM5gDbFfpuHQbltWETBK # encrypted ServiceBus.AttachmentPlugin API key
  artifact: /.*\.nupkg/
  on:
    branch: master